<div class="address">
  <%= market.address.street %>
  <%= market.address.city %>, <%= market.address.state %>
  <%= market.address.zipcode %>
</div>
<% unless market.address.description.nil? %>
  <strong>Location: </strong>  <%= market.address.description %>
<% end %>

