<div class="show-page">
  <header class="show-page-header">
    <h1>FreshFinder <span>Find the farmers' markets near you...</span>
    </h1>
  </header>

  <div id="page-container">
  <div id="show-content">
    <h3 class="name"><%= @market.name %></h3>
    <div id="directions">
      <div id="map">
      <img src="http://api.tiles.mapbox.com/v3/pzula.h69mf89n/pin-m-star(<%= @market.address.lng %>,<%= @market.address.lat %>)/<%= @market.address.lng %>,<%= @market.address.lat %>,12/750x300.png"></div>
      <div class="address">
        <%= @market.address.street %>
        <%= @market.address.city %>, <%= @market.address.state %>
        <%= @market.address.zipcode %>
      </div>
      <strong>Directions:</strong>  <%= @market.address.description %>
    </div>

    <div class="show-column">
      <div class="time">
        <% @market.season1.schedules.each do |schedule| %>
          <strong><%= schedule.day %></strong>: <%= schedule.start_time %> - <%= schedule.end_time %>
        <% end %>
        <% @market.season2.schedules.each do |schedule| %>
            <strong><%= schedule.day %></strong>: <%= schedule.start_time %> - <%= schedule.end_time %>
        <% end %>
        <% @market.season4.schedules.each do |schedule| %>
            <strong><%= schedule.day %></strong>: <%= schedule.start_time %> - <%= schedule.end_time %>
         <% end %>
        <% @market.season3.schedules.each do |schedule| %>
            <strong><%= schedule.day %></strong>: <%= schedule.start_time %> - <%= schedule.end_time %>
        <% end %>
      </div>

      <div class="season">
        <strong>Season:</strong>
        <%= @market.season1.start_month %> to <%= @market.season1.end_month %>
        <%= @market.season2.start_month %>  <%= @market.season2.end_month %>
        <%= @market.season3.start_month %>  <%= @market.season3.end_month %>
        <%= @market.season4.start_month %> <%= @market.season4.end_month %>
      </div>
    </div>

   <div class="show-column">
      <div class="products">
        <strong>Products: </strong><%= @market.products.join(", ") %>
      </div>

      <div class="payments">
        <strong>Payments Accepted:</strong> <%= @market.payment_types.join(", ") %>
      </div>
   </div>

    <button id="review"> Review this Market </button>
  </div>
</div>



<!-- Review form  -->
<form class="cbp-mc-form">
  <div class='review-form'>
    <button id="close-form"> x </button>
    <h4> Share what you know about this market! </h4>
    <div class="cbp-mc-column">
    <%= form_tag "/api/v1/reviews" do %>
      <%= hidden_field_tag "review[market_id]", "#{@market_id}" %>
      <%= label_tag "name" %>
        <%= text_field_tag "review[name]" %><br/>
      <%= label_tag "email" %>
        <%= text_field_tag "review[email]" %><br/>
      <%= label_tag "title" %>
        <%= text_field_tag "review[title]" %><br/>
      <%= label_tag "content", "Your Review" %>
      <%= text_field_tag "review[content]" %>
      <br>
      <%= submit_tag "Write your review!" %>
    <% end %>

<!-- THIS IS THE FORM AREA -->
<%= form_tag "/markets/#{@market_id}/reviews" do %>
  <%= hidden_field_tag "market_id", "#{@market_id}" %>

  <%= label_tag "name" %>
    <%= text_field_tag "name" %>

  <%= label_tag "email" %>
    <%= text_field_tag "email" %>

  <%= label_tag "title" %>
    <%= text_field_tag "title" %>

  <%= label_tag "content", "Your Review" %>
  <%= text_field_tag "review[content]" %>
  <br>
  <%= submit_tag "Write your review!" %>
<% end %>

    </div>
  </div>
</form>
 
 <div class="reviews-summary">
  <div class="market-reviews">
    <h2>Reviews from this market:<h2>
  </div>
</div>
</div>


<script>
 $('.cbp-mc-form').hide();
  $("button#review").click(function (e){
    $('.cbp-mc-form').show();
  });
  $("button#close-form").click(function (e){
    $('.cbp-mc-form').hide();
  });
</script>

<!-- Reviews -->

<%= render partial:"reviews/review", collection: @reviews %>
