<div class="show-page">
  <header class="show-page-header">
    <h1><a href='/'>FreshFinder <span>Find the farmers' markets near you...</span></a>
    </h1>
  </header>

  <div id="page-container">
    <div id="show-content">
      <h3 class="name"><%= @market.name %></h3>
      <div id="directions">
        <div id="map">
          <img src="http://api.tiles.mapbox.com/v3/pzula.h69mf89n/pin-m-star(<%= @market.address.lng %>,<%= @market.address.lat %>)/<%= @market.address.lng %>,<%= @market.address.lat %>,15/750x300.png">
        </div>
        <%= render partial: 'address', locals: { market: @market } %>
      </div>

      <div class="show-column1">
        <div class="time">
          <% @market.season1.schedules.each do |schedule| %>
            <strong><%= schedule.day %></strong>: <%= schedule.start_time %> - <%= schedule.end_time %>
          <% end %>
          <% @market.season2.schedules.each do |schedule| %>
            <strong><%= schedule.day %></strong>: <%= schedule.start_time %> - <%= schedule.end_time %>
          <% end %>
            <% @market.season4.schedules.each do |schedule| %>
            <strong><%= schedule.day %></strong>: <%= schedule.start_time %> - <%= schedule.end_time %>
          <% end %>
          <% @market.season3.schedules.each do |schedule| %>
            <strong><%= schedule.day %></strong>: <%= schedule.start_time %> - <%= schedule.end_time %>
          <% end %>
        </div>

        <div class="products">
          <% unless @market.products.nil? %>
          <strong>Products: </strong>
          <%= @market.products.join(',') %>
          <% end %>
        </div>
      </div>

      <div class="show-column2">
        <div class="season">
          <% unless @market.season1.nil? %>
            <strong>Seasons:</strong>
            <%= render partial: 'market_season', locals: { market: @market } %>
          <% end %>
        </div>
        <div class="payments">
          <% unless @market.payment_types.nil? %>
          <strong>Payments Accepted:</strong> <%= @market.payment_types.join(", ") %>
          <% end %>
        </div>

      </div>



    </div>

    <button id="review"> Review this Market </button>


    <!-- Review form  -->

    <div class='review-form'>
      <button id="close-form"> x </button>
      <h3 class="form-header"> Share what you know about this market! </h3>

      <%= form_tag "/markets/#{@market_id}/reviews" do %>
      <%= hidden_field_tag "market_id", "#{@market_id}" %>

      <div class="top-form-wrapper">
        <%= field_set_tag nil, class:"review-name" do %>
        <%= label_tag "name" %>
        <%= text_field_tag "name" %>
        <% end %>

        <%= field_set_tag nil, class:"review-email" do %>
        <%= label_tag "email" %>
        <%= text_field_tag "email" %>
        <% end %>
      </div>

      <%= field_set_tag nil, class:"review-body" do %>
        <%= field_set_tag nil, class:"review-title" do %>
          <%= label_tag "title", "Headline or summary" %>
          <%= text_field_tag "title" %>
        <% end %>

        <%= field_set_tag nil, class:"review-content" do %>
          <%= label_tag "content", "Your review" %>
          <%= text_area_tag "content" %>
        <% end %>

      <% end %>

      <button class="submit"> Submit your review! </button>
      <% end %>

    </div>

    <br>
    <div class="reviews-summary">
      <h2>Reviews for this market:</h2>
      <%= render partial:"reviews/review", collection: @reviews %>
    </div>
  </div>
</div>

<script>
  $('.review-form').hide();
                                                                           $("button#review").click(function (e){
                                                                           $('.review-form').toggle();
                                                                           });
                                                                           $("button#close-form").click(function (e){
                                                                           $('.review-form').hide();
                                                                           });
</script>


