<%=  render partial: "header" %>

<div id="show_page_container">
  <div id="image_container">
    <div id="market_image"><img src="/assets/farmers-market-produce.jpg" alt="market image" width="600" height="450">
    </div>
  </div>
  <div class= "market_header">
    <h1><%= @market.name %></h1>
  </div>
  <div class= "market_info">
    <div class="market_info_table">
      <table>
        <tr>
          <td><%= @market.address.street %> </td>
        </tr>
        <tr>
          <td><%= @market.address.city %>, <%=  @market.address.state %></td>
        </tr>
        <tr>
          <td><%= @market.address.zipcode %></td>
        </tr>
        <tr>
          <td><%= @market.address.description %></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<%= @market.address.lat %>
<%= @market.address.lng %>

<%= @market.season1.season_number %>
<%= @market.season1.start_month %>
<%= @market.season1.end_month %>
<% @market.season1.schedules.each do |schedule| %>
  <%= schedule.day %>
  <%= schedule.start_time %>
  <%= schedule.end_time %>
<% end %>
<%= @market.season2.season_number %>
<%= @market.season2.start_month %>
<%= @market.season2.end_month %>
<% @market.season2.schedules.each do |schedule| %>
  <%= schedule.day %>
  <%= schedule.start_time %>
  <%= schedule.end_time %>
<% end %>
<%= @market.season3.season_number %>
<%= @market.season3.start_month %>
<%= @market.season3.end_month %>
<% @market.season3.schedules.each do |schedule| %>
  <%= schedule.day %>
  <%= schedule.start_time %>
  <%= schedule.end_time %>
<% end %>
<%= @market.season4.season_number %>
<%= @market.season4.start_month %>
<%= @market.season4.end_month %>
<% @market.season4.schedules.each do |schedule| %>
  <%= schedule.day %>
  <%= schedule.start_time %>
  <%= schedule.end_time %>
<% end %>

<%= @market.products %>
<%= @market.payment_types %>
